@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

.navbar-container{
    display: flex;
    justify-content: flex-end;
}
.navbar-list{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.navbar-list ul{
    width: 15%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
.logo-car img{
    margin-left: 2em;
    width: 45%;
}