.navbar-container{
    display: flex;
    justify-content: flex-end;
}
.navbar-list{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.navbar-list ul{
    width: 30%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}
.logo-car img{
    width: 40%;
}